.sidebar {
  height: 100vh;
}
.ant-layout-sider {
  background-color: #fff;
}
li.ant-menu-item {
  color: #666;
}
li.ant-menu-item:hover {
  a.link {
    color: #1da57a;
  }
}
a.link {
  color: #666;
}
// .ant-menu-submenu-title {
//   box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.1);
// }
