@import './../../theme/index.less';
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  height: 40px !important;
  padding: 0 16px;
  line-height: 37px;
}
// 调高度
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 40px !important;
}

// 加阴影
.ant-tabs-nav-container {
  // box-shadow: 0px 2px 9px #ccc;
}
.ant-tabs-bar {
  margin: 0;
}
.ant-tabs .ant-tabs-top-content {
  margin: 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  background-color: @3f !important;
}
// 选中的状态
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background-color: @navcolor !important;
  color: @3f;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
  color: #666;
}
.ant-tabs.ant-tabs-card
  .ant-tabs-card-bar
  .ant-tabs-tab
  .ant-tabs-close-x:hover {
  color: #fff;
}
.ant-tabs-nav-scroll {
  background-color: #fcfcfc;
}
